// Backgrounds
$bg-primary: #000000;
$bg-secondary: #222222;
$bg-elevated: #333333;

// Couleurs de texte
$text-primary: #ffffff;
$text-secondary: #b3b3b3;

$accent-color: #ffffff;
$accent-hover: #cccccc;

$border-color: #444444;
$sidebar-width: 25rem;
$header-height: 6rem;
$transition-speed: 0.3s;
$box-shadow: 0 0.4rem 0.6rem rgba(255, 255, 255, 0.1);
$text-shadow-hover: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);

// Typographie
$font-family: "Outfit", sans-serif;
$font-title: "Oswald", sans-serif;

// Metallic tones
$gold-metallic: #cccccc;
$silver-metallic: #999999;

$error: #ff0000;
$error-hover: #ff4d4d;
$succes: #00ff00;
$succes-hover: #33ff33;
