@use "../../../common/scss/variables" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 90%;
  max-height: 80%;

  z-index: 1001; /* Assurez-vous qu'il est au-dessus de l'overlay */
  border: 1px solid $border-color; /* Ajout de la bordure */
}

.modal-content {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  overflow-y: auto;
  font-family: $font-family;
  background: $bg-secondary;
  color: $text-primary;
  position: relative; /* Pour que les éléments internes soient positionnés par rapport à lui si nécessaire */

  .modal-title {
    font-family: $font-title;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .modal-body {
    line-height: 1.4;
    font-size: 1.4rem;

    h3 {
      margin-top: 2rem;
      font-family: $font-title;
      font-size: 2rem;
    }

    .data {
      list-style: none;
    }

    a {
      color: $text-secondary; /* Couleur normale du texte */
      text-decoration: none; /* Supprime le soulignement par défaut */
      transition: color 0.3s ease; /* Ajoute une transition douce pour la couleur */

      &:hover {
        color: $accent-color; /* Couleur au survol */
      }

      &:active {
        color: $accent-hover; /* Couleur lorsque le lien est cliqué */
      }
    }
  }

  .btn-ok {
    display: block;
    margin: 2rem auto 0 auto;
    padding: 0.75rem 1.5rem;
    background: $accent-color;
    color: $bg-primary;
    border: none;
    border-radius: 0.5rem;
    font-family: $font-family;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;

    &:hover {
      background: $accent-hover;
      transform: translateY(-2px);
    }
  }
}
