@use "./common/scss/reset" as *;
@use "./common/scss/variables" as *;
@use "./common/scss/media-queries" as *;

body {
  font-family: $font-family;
  background-color: $bg-primary;
  color: $text-primary;
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  min-height: $header-height; // Utilisation de min-height au lieu de height
  background-color: $bg-secondary;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem; // Ajustement du padding pour les petits écrans

  .logo {
    width: 4rem;
    display: flex;

    img {
      width: 100%;
    }
  }

  .top-nav {
    display: flex;
    align-items: center;

    .menu-list {
      list-style: none;
      display: flex;

      li {
        margin-left: 2rem;

        a {
          font-size: 1.8rem; // Ajustement de la taille de la police
          text-decoration: none;
          color: $text-secondary;
          font-family: $font-title;
          transition: $transition-speed;

          &:hover {
            color: $accent-hover;
            text-shadow: $text-shadow-hover;
          }
          &.active {
            color: $accent-color;
            font-weight: bold;
          }
        }
      }
    }

    @include sm {
      display: none;
    }
  }

  .button-container {
    display: none;
    margin-left: 2rem;
    button {
      border: none;
      background: none;
      cursor: pointer;
      color: $text-primary;
      i {
        font-size: 2.5rem;
      }
    }

    @include sm {
      display: block;
    }
  }
}

.mobile-menu {
  display: none;
  background-color: $bg-secondary;
  padding: 1rem 2rem;
  &.active {
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap; // Ajout pour gérer les éléments sur plusieurs lignes
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      list-style: none;
      padding: 1rem 0;
      margin: 0;
      li {
        a {
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          padding: 0.5rem;
          color: $text-secondary;
          font-family: $font-title;
          transition: $transition-speed;
          text-decoration: none;

          &:hover {
            color: $accent-hover;
            text-shadow: $text-shadow-hover;
          }
          &.active {
            font-weight: bold;
            color: $accent-color;
            font-size: 1.8rem; // Ajustement de la taille de la police
          }
        }
      }
    }
  }
}

.page-content {
  flex: 1;
  padding: 2rem 1rem; // Ajustement du padding pour les petits écrans
}

.site-footer {
  background-color: $bg-secondary;
  padding: 1rem 2rem; // Ajustement du padding pour les petits écrans
  font-size: 0.9rem;
  text-align: center;
  font-family: $font-title;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      font-size: 1.6rem; // Ajustement de la taille de la police
      color: $text-secondary;
    }
  }
}

/* Modal */

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  pointer-events: none; /* Empêche l'élément de répondre aux événements de la souris lorsqu'il est caché */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  pointer-events: none; /* Empêche l'élément de répondre aux événements de la souris lorsqu'il est caché */
}

.modal-container.active {
  /* Ajoutez cette classe lorsque vous affichez la modal */
  display: flex;
  pointer-events: auto; /* Permet à l'élément de répondre aux événements de la souris lorsque la modal est active */
}

.modal-overlay.active {
  /* Ajoutez cette classe lorsque vous affichez la modal */
  display: block;
  pointer-events: auto; /* Permet à l'élément de répondre aux événements de la souris lorsque l'overlay est actif */
}
